/*styling for body*/
body{
	background-image: url("http://media-cache-ak0.pinimg.com/236x/c0/86/4a/c0864a9fc47915c685e86df172c37b55.jpg");
	font-family: 'Raleway', sans-serif;
	padding-left: 50px;
	padding-top: 70px;
}

/*styling for element with id email*/
#email{
	padding-top: 10px;
	padding-bottom: 10px;
}

/*styling for element with id username*/
#username{
	padding-bottom: 10px;
}

/*styling for element with id button*/
#button{
	padding-top: 10px;
}

a:hover, a:visited, a:link, a:active
	{
	    text-decoration: none;
	    color: black;
	}
nav{
	text-align: center;
}

#links{
	padding-top: 20px;
	padding-bottom: 10px;
}