body{
	background-image: url('http://www.envelopments.com/assets/product_color/image_large/4e98b645960a564aaf0000a4/platinum-large.jpg');
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
}

/*Media thingy for iphone*/
@media screen and (max-width: 320px){
	body{
		width: 100%;
		background-color: lime;
	}
	form{
		width: 100%;
	}
}

/*media thingy for ipad*/
@media screen and (max-width: 786px){
	body{
		width: 100%;
		background-color: lime;
	}
	form{
		width: 100%;
	}
	label{
		width: 50%;
	}
	input{
		width: 50%
	}
	textarea{
		width: 50%;
	}
}