body{
	background-image: url('http://www.envelopments.com/assets/product_color/image_large/4e98b645960a564aaf0000a4/platinum-large.jpg');
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
}

textarea{ 
  width: 394px; 
  min-width:394px; 
  max-width:394px; 

  height:85px; 
  min-height:85px;  
  max-height:85px;
}

/*Media thingy for iphone*/
@media screen and (max-width: 320px){
	body{
		width: 100%;
		background-color: lime;
	}
	form{
		width: 100%;
	}
	input{
		width:50%;
	}
	textarea{ 
	  width: 160px; 
	  min-width:160px; 
	  max-width:160px; 

	  height:85px; 
	  min-height:85px;  
	  max-height:85px;
	}

}

/*media thingy for ipad*/
@media screen and (min-width: 400px) and (max-width: 1024px){
	body{
		width: 100%;
		background-color: lime;
	}
	textarea{
	  width: 394px; 
	  min-width:394px; 
	  max-width:394px; 

	  height:85px; 
	  min-height:85px;  
	  max-height:85px;
	}
}